<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>私信</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../libs/l7/light7.min.css">
    <link rel="stylesheet" href="../dest/all.min.css">
</head>
<body>
    <div class="page" id="chatPage">
        <!-- tabbar -->
        <mc-tabbar page="mine" lv=2></mc-tabbar>
        <div class="content chatPage-content">
            <!-- list -->
            <div class="">
                <ul class="messageList">
                    <li v-for="item in 4" ><!--v-for="(items,index) in showMsgList"-->
                        <div class="card facebook-card">
                            <!-- 回复按钮 -->
                            <a class="reply-btn open-reply-modal" @click="reply()">回复</a>
                            <div class="card-header no-border">
                                <div class="facebook-avatar">
                                    <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                        width="34" height="34">
                                </div>
                                <div class="facebook-name">sss</div>
                                <div class="facebook-date">星期一 3:47pm</div>
                            </div>
                            <div class="card-content">
                                <div class="card-reply">转发了</div>
                                <div class="quote-box">
                                    <!-- avatar -->
                                    <div class="avatar">
                                        <img src="../img/test/pet.jpg"/>
                                    </div>
                                    <!-- info -->
                                    <div class="info-box">
                                        <div class="info-item at">@Mocha</div>
                                        <div class="info-item">宠物昵称：蛋挞</div>
                                        <div class="info-item">丢失日期：2018-2-20</div>
                                        <!-- tag -->
                                        <div class="tag flex-center">
                                            寻宠
                                        </div>
                                    </div>
                                </div>
                                <!-- reply list -->
                                <div class="reply-list">
                                    <ul>
                                        <li>
                                            <span>mocha</span>回复了<span>张宇：</span>好的
                                        </li>
                                        <li>
                                            <span>mocha</span>回复了<span>张宇：</span>好的
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type='text/javascript' src='../libs/l7/light7.min.js'></script>
    <script type='text/javascript' src='../js/vue.js'></script>
    <script type='text/javascript' src='../js/common.js'></script>
    <script type='text/javascript' src='../js/components.js'></script>
    <script src="../js/chat.js"></script>
</body>
</html>